@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
    cursor: none
  }
  html *,body * {
    cursor: none;
  }

  .menu, .container {
      position: relative;
      z-index: 999;
  }


  .light-theme .cursor {
    width: 40px;
    height: 40px;
    border: 8px solid #ccc;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all 150ms ease;
    transition-property: opacity, background-color, transform, border;
  }

  .cursor {
    width: 140px;
    height: 140px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    transition: all 150ms ease;
    transition-property: opacity, background-color, transform, border;
}


.tl-wrapper-status--exiting .phrase {
opacity: 0 !important;
transition: all 1s ease;
transition-property: opacity;
}

.phrase div {
  overflow: hidden;
}

  .c--hidden {
     opacity: 0;
  }

  

  .c--click {
    transform: translate(-50%, -50%) scale(0.5);
    background-color: rgba(253, 16, 16, 0.8);
 }

.c--hover {
  transform: translate(-50%, -50%) scale(0.3);
  border: 4px solid red;
 }

 .light-theme .c--hover {
  transform: translate(-50%, -50%) scale(0.3);
  border: 4px solid rgb(189, 189, 189);
}

 .c--hoverGrey {
    transform: translate(-50%, -50%) scale(0.2);
    border: 16px solid red;
 }

 .light-theme .c--hoverGrey {
  transform: translate(-50%, -50%) scale(0.2);
  border: 4px solid rgb(189, 189, 189);
}


progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5,#01b3e3,#25ce7b,#fdc741,#ff6b01,#fc4236);
  background-attachment: fixed;
}

body {
  background: linear-gradient(to bottom,
    desaturate(lighten(#db38b5, 30%), 30%),
    desaturate(lighten(#01b3e3, 30%), 30%),
    desaturate(lighten(#25ce7b, 30%), 30%),
    desaturate(lighten(#fdc741, 30%), 30%),
    desaturate(lighten(#ff6b01, 30%), 30%),
    desaturate(lighten(#fc4236, 30%), 30%)
  );
}
section {
  min-height: 100vh;
  padding: 10vw 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}